<h2>Clan Management</h2>

<hr>

<ng-container *ngIf="playerClaims && clan; else noClan">
  <h3 routerLink="/clans/{{clan.id}}">Clan: {{ clan.name }}</h3>

  <ng-container *ngIf="clan.leaderID == playerClaims.playerID; else notLeader">
    <h4>Welcome Clan Leader, {{ playerClaims.username }}</h4>
    <hr>
    <button type="button" class="btn btn-danger" (click)="openDisband(disband)">Disband</button>
    <hr>

    <h5>Invite New Member</h5>
    <form [formGroup]="inviteMemberForm" (ngSubmit)="onInviteMember()">
      <div class="form-group">
        <label for="playername">Player Name</label>
        <input type="text" class="form-control" id="playername" placeholder="..." formControlName="playername">
      </div>
      <button type="submit" class="btn btn-primary">Invite</button>
    </form>
    <div [hidden]="hideInviteError" class="alert alert-danger" role="alert">Failed to invite {{inviteMemberForm.value.playername}}</div>

    <hr>
    <h5>Pending Invites</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Player</th>
          <th>Sent</th>
          <th>Cancel</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invite of clanInvites">
          <td><app-player-banner [status]="false" [player]="invite.player"></app-player-banner></td>
          <td>{{ invite.sentAt | date:'short'}}</td>
          <td><button type="button" class="btn btn-danger" (click)="cancelInvite(invite.playerID)">X</button></td>
        </tr>
      </tbody>
    </table>
    <hr>

    <h5>Members</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Player</th>
          <th>Joined</th>
          <th>Kick</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let stats of members">
          <tr *ngIf="stats.player.id != playerClaims.playerID">
            <td><app-player-banner [status]="false" [player]="stats.player"></app-player-banner></td>
            <td>{{stats.player.joinedClan | date:'short'}}</td>
            <td><button type="button" class="btn btn-danger" (click)="openKick(stats.player)">Kick</button></td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <ng-template #kickSure let-modal>
      <div class="modal-header alert-danger">
        <h4 class="modal-title" id="modal-basic-title">Leave Clan</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to kick {{kickSurePlayer.username}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-lg m-auto" (click)="kickPlayer(kickSurePlayer.id)">Kick</button>
      </div>
    </ng-template>

  </ng-container>
  <ng-template #notLeader>
    <hr>
    <button type="button" class="btn btn-lg btn-danger" (click)="openLeave()">Leave Clan</button>

    <ng-template #leaveSure let-modal>
      <div class="modal-header alert-danger">
        <h4 class="modal-title" id="modal-basic-title">Leave Clan</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to leave <strong>{{clan.name}}</strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-lg m-auto" (click)="leaveClan()">Leave</button>
      </div>
    </ng-template>

    <hr>

    <div style="width: 250px"><strong>Leader:</strong> <app-player-banner [status]="false" [player]="clan.leader"></app-player-banner> </div>
    <hr>
    <h5>Members</h5>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Player</th>
        <th>Joined</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let stats of members">
        <tr *ngIf="stats.player.id != playerClaims.playerID">
          <td><app-player-banner [status]="false" [player]="stats.player"></app-player-banner></td>
          <td>{{stats.player.joinedClan | date:'short'}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </ng-template>


  <ng-template #disband let-modal>
    <div class="modal-header alert-danger">
      <h4 class="modal-title" id="modal-basic-title">Disband Clan</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Are you sure you want to disband <strong>{{clan.name}}</strong>?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger btn-lg m-auto" (click)="disbandClan()">Disband</button>
    </div>
  </ng-template>

</ng-container>
<ng-template #noClan>

<ng-container *ngIf="playerClaims && !playerClaims.bannedFromMakingClans">

  <h4>Register Clan</h4>
  <form [formGroup]="registerClanForm" (ngSubmit)="onRegister()">
    <div class="form-group">
      <label for="clanname">Clan Name</label>
      <input type="text" class="form-control" id="clanname" placeholder="..." formControlName="clanname">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  <div [hidden]="hideRegisterError" class="alert alert-danger" role="alert">Clan name not available</div>

  <hr>

</ng-container>

<h3>Invites</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Clan</th>
    <th>Leader</th>
    <th>Sent</th>
    <th>Accept</th>
    <th>Decline</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let invite of myInvites">
    <td><a routerLink="/clans/{{invite.clan.id}}"><strong>{{ invite.clan.name }}</strong></a></td>
    <td><app-player-banner [status]="false" [player]="invite.leader"></app-player-banner></td>
    <td>{{ invite.sentAt | date:'short'}}</td>
    <td><button type="button" class="btn btn-success" (click)="acceptInvite(invite.clanID)">Accept</button></td>
    <td><button type="button" class="btn btn-danger" (click)="declineInvite(invite.clanID)">X</button></td>
  </tr>
  </tbody>
</table>

</ng-template>

<ng-template #registerCongrats let-modal>
  <div class="modal-header alert-success">
    <h4 class="modal-title" id="modal-basic-title">Congrats!</h4>
  </div>
  <div class="modal-body">
    Congrats on registering your clan: <strong>{{ clan.name }}</strong>!
  </div>
</ng-template>
