<h2>Maps</h2>
<div class="row h-100">
  <div class="col-4 buffer" style="min-height: 33vh" *ngFor="let map of maps">
    <div class="card h-100">
      <div class="card-header">
        {{map.mapName}}
        <span *ngIf="map.gamemode == 'CTF'" class="badge badge-pill badge-success">CTF</span>
        <span *ngIf="map.gamemode == 'Small CTF'" class="badge badge-pill badge-info">Small CTF</span>
        <span *ngIf="map.gamemode == 'TTH'" class="badge badge-pill badge-warning">TTH</span>
      </div>
      <div class="card-body card-overflow">
          <div>Match Duration: {{map.average}} &#177; {{map.stddev}} minutes</div>
          <div>Total Matches: {{map.matches}}</div>
          <div>Vote Win Percent: {{map.percent}}%</div>
          <div>Votes Appeared In: {{map.ballots}}</div>
          <div>
            <img class="minimap" src="{{map.image}}" onError="this.src='/assets/unkownmap.png'">
          </div>
        </div>
    </div>
  </div>
</div>
