<div class="row">
  <table class="table" *ngIf="kills$ | async as kills; else noHistory">
    <tbody *ngFor="let kill of kills">
      <td>
        <div style="width: 250px">
            <app-player-banner [status]="false" [player]="kill.killer"></app-player-banner>
        </div>
      </td>
      <ng-container *ngIf="kill.killer.id==kill.victim.id">
          <td>killed themself</td>
      </ng-container>
      <td>
        <ng-container *ngIf="kill.teamKill">
            <span>team killed</span>
        </ng-container>
        <div style="overflow:auto; display:inline-block" placement="top" ngbTooltip="{{descriptions[kill.hitter]}}">
            <div class="sprite2x {{kill.hitter | hitterIcon }}"></div>
        </div>
      </td>
      <ng-container *ngIf="kill.killer.id != kill.victim.id">
          <td>
            <div style="width: 250px">
                <app-player-banner [status]="false" [player]=kill.victim></app-player-banner>
            </div>
          </td>
      </ng-container>
      <td>{{kill.time | timeAgo }}</td>
      <td><p style="color: gray">{{kill.server.name}}</p></td>
    </tbody>
  </table>
</div>
<ng-template #noHistory>
    <h3 class="text-center">No history to show</h3>
</ng-template>
