.sprite2x {
    zoom: 2;
    image-rendering: pixelated;
}

.fall {
    width: 32px;
    height: 16px;
    background-image: url(/assets/KillfeedIcons.png);
    background-position: -32px 0px;
}

.drown {
    width: 32px;
    height: 16px;
    background-image: url(/assets/KillfeedIcons.png);
    background-position: -64px 0px;
}

.fire {
    width: 32px;
    height: 16px;
    background-image: url(/assets/KillfeedIcons.png);
    background-position: -96px 0px;
}

.stomp {
    width: 32px;
    height: 16px;
    background-image: url(/assets/KillfeedIcons.png);
    background-position: 0px -16px;
}

.drill {
    width: 32px;
    height: 16px;
    background-image: url(/assets/KillfeedIcons.png);
    background-position: -32px -16px;
}

.saw {
    width: 32px;
    height: 16px;
    background-image: url(/assets/KillfeedIcons.png);
    background-position: -64px -16px;
}

.builder {
    width: 32px;
    height: 16px;
    background-image: url(/assets/KillfeedIcons.png);
    background-position: 0px -32px;
}

.spikes {
    width: 32px;
    height: 16px;
    background-image: url(/assets/KillfeedIcons.png);
    background-position: -64px -32px;
}

.sword {
    width: 32px;
    height: 16px;
    background-image: url(/assets/KillfeedIcons.png);
    background-position: 0px -48px;
}

.shield {
    width: 32px;
    height: 16px;
    background-image: url(/assets/KillfeedIcons.png);
    background-position: -32px -48px;
}

.bomb {
    width: 32px;
    height: 16px;
    background-image: url(/assets/KillfeedIcons.png);
    background-position: -64px -48px;
}

.keg {
    width: 32px;
    height: 16px;
    background-image: url(/assets/KillfeedIcons.png);
    background-position: -96px -48px;
}

.mine {
    width: 32px;
    height: 16px;
    background-image: url(/assets/KillfeedIcons.png);
    background-position: -64px -64px;
}

.cata_stones {
    width: 32px;
    height: 16px;
    background-image: url(/assets/KillfeedIcons.png);
    background-position: -96px -64px;
}

.arrow {
    width: 32px;
    height: 16px;
    background-image: url(/assets/KillfeedIcons.png);
    background-position: 0px -64px;
}

.ballista {
    width: 32px;
    height: 16px;
    background-image: url(/assets/KillfeedIcons.png);
    background-position: -32px -64px;
}

.boulder {
    width: 32px;
    height: 16px;
    background-image: url(/assets/KillfeedIcons.png);
    background-position: -96px -32px;
}