<h1>{{class}} Leaderboard</h1>

<table class="table">
  <thead>
  <tr>
    <th>Player</th>
    <th>Kills</th>
    <th>Deaths</th>
    <th>Ratio</th>
  </tr>
  </thead>
  <tbody *ngIf="leaderboard$ | async as leaderboard">
  <tr *ngFor="let leader of leaderboard">
    <td routerLink="/players/{{leader.player.id}}"><div style="width: 300px"><app-player-banner [player]="leader.player"></app-player-banner></div></td>
    <td>{{totalKills(leader)}}</td>
    <td>{{totalDeaths(leader)}}</td>
    <td>{{kd(leader)}}</td>
  </tr>
  </tbody>
</table>
