<h1 style="text-align: center">{{boardTitle()}} Leaderboard {{boardDate()}}</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Rank</th>
    <th>Player</th>
    <th>Kills</th>
    <th>Deaths</th>
    <th>Ratio</th>
  </tr>
  </thead>
  <tbody *ngIf="leaderboard$ | async as leaderboard">
  <ng-container *ngFor="let leader of leaderboard; let i = index">
    <tr [attr.data-index]="i" [ngClass]="{'bg-info': playerClaims && leader.player.id==playerClaims.playerID}">
      <td><b>#{{i + 1}}</b></td>
      <td>
        <div style="width: 300px">
          <app-player-banner [player]="leader.player"></app-player-banner>
        </div>
      </td>
      <td>{{totalKills(leader)}}</td>
      <td>{{totalDeaths(leader)}}</td>
      <td>{{kd(leader)}}</td>
    </tr>
  </ng-container>
  </tbody>
</table>
