<!--
<div class="row" *ngFor="let kill of kills">
    <div class="col text-center">
        <app-player-banner [player]=kill.killer></app-player-banner>
    </div>
    <div class="col text-center">
        killed
    </div>
    <div class="col text-center">
            <app-player-banner [player]=kill.victim></app-player-banner>
    </div>
</div>
-->

<div class="row">
  <table class="table" *ngIf="kills$ | async as kills">
    <tbody *ngFor="let kill of kills">
      <td routerLink="/players/{{kill.killer.id}}">
        <div style="width: 250px">
            <app-player-banner [status]="false" [player]="kill.killer"></app-player-banner>
        </div>
      </td>
      <ng-container *ngIf="kill.killer.id==kill.victim.id">
          <td>killed themself</td>
      </ng-container>
      <td>
        <div class="{{kill.hitter | hitterIcon }}" placement="top" ngbTooltip="{{descriptions[kill.hitter]}}"></div>
      </td>
      <ng-container *ngIf="kill.killer.id != kill.victim.id">
          <td routerLink="/players/{{kill.victim.id}}">
            <div style="width: 250px">
                <app-player-banner [status]="false" [player]=kill.victim></app-player-banner>
            </div>
          </td>
      </ng-container>
      <td>{{kill.time | timeAgo }}</td>
    </tbody>
  </table>
</div>
