.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 22px;
    left: -17px;
}

.sprite15x {
    zoom: 1.5;
    image-rendering: pixelated;
}

.dev {
    color: #B400FF;
}

.guard {
    color: #A0FFA0;
}

//Badges
.oldGoldBadge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: -128px 0px;
}

.tier1Badge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: 0px -16px;
}

.tier2Badge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: -16px -16px;
}

.tier3Badge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: -32px -16px;
}

.tier4Badge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: -48px -16px;
}

.r10yBadge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: -144px -48px;
}

.r9yBadge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: -128px -48px;
}

.r8yBadge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: -112px -48px;
}

.r7yBadge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: -96px -48px;
}

.r6yBadge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: -80px -48px;
}

.r5yBadge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: -64px -48px;
}

.r4yBadge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: -48px -48px;
}

.r3yBadge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: -32px -48px;
}

.r2yBadge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: -16px -48px;
}

.r1yBadge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: 0px -48px;
}

.r9mBadge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: -128px -32px;
}

.r6mBadge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: -112px -32px;
}

.r3mBadge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: -96px -32px;
}

.r2mBadge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: -80px -32px;
}

.r1mBadge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: -64px -32px;
}

.r3wBadge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: -48px -32px;
}

.r2wBadge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: -32px -32px;
}

.r1wBadge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: -16px -32px;
}

.newBadge {
    width: 16px;
    height: 16px;
    background-image: url(/assets/AccoladeBadges.png);
    background-position: 0px -32px;
}