<div>

  <div class="float-left">
    <ng-container *ngIf="player.avatar; else avatarElse">
      <img id="avatar" src="{{player.avatar}}" default="/assets/portrait1.png" class="rounded-circle" style="width: 50px; height: 50px; position: relative">
    </ng-container>
    <ng-template #avatarElse>
      <img id="avatar" src="{{ player.id | unkownAvatar }}" class="rounded-circle" style="width: 50px; height: 50px;">
    </ng-template>
    <ng-container *ngIf="player.status; else statusElse">
      <span class="dot {{ player.status.lastUpdate | statusClass }}"></span>
    </ng-container>
    <ng-template #statusElse>
      <span class="dot bg-secondary"></span>
    </ng-template>
    
  </div>



  <ng-container *ngIf="player.info; else infoElse">
    <span class="float-right {{ player.info.role | kagRoleColor }}"> {{player.clantag}} {{player.characterName}}</span>
  </ng-container>
  <ng-template #infoElse>
      <span class="float-right"> {{player.clantag}} {{player.characterName}}</span>
  </ng-template>
  
</div>