.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 45px;
    left: 55px;
}

.dev {
    color: #B400FF;
}

.guard {
    color: #A0FFA0;
}