<a style="color:inherit;text-decoration:inherit;" routerLink="/players/{{player.id}}">
<div>
  <div class="float-left" *ngIf="avatar">
      <ng-container *ngIf="player.avatar != ''; else avatarElse">
        <img id="avatar" src="{{player.avatar}}" default="/assets/portrait1.png" class="rounded-circle" style="width: 50px; height: 50px;">
      </ng-container>
      <ng-template #avatarElse>
        <img id="avatar" src="{{ player.id | unkownAvatar }}" class="rounded-circle" style="width: 50px; height: 50px;">
      </ng-template>
  </div>

  <ng-container *ngIf="accolades">
  <div class="row">
    <div class="col">
        <div *ngIf="player.oldGold" class="float-left oldGoldBadge" placement="top" ngbTooltip="gold member who bought the game pre-F2P launch"></div>
        <div *ngIf="player.tier == 1" class="float-left tier1Badge" placement="top" ngbTooltip="tier 1 patreon supporter"></div>
        <div *ngIf="player.tier == 2" class="float-left tier2Badge" placement="top" ngbTooltip="tier 2 patreon supporter"></div>
        <div *ngIf="player.tier == 3" class="float-left tier3Badge" placement="top" ngbTooltip="tier 3 patreon supporter"></div>
        <div *ngIf="player.tier == 4" class="float-left tier4Badge" placement="top" ngbTooltip="tier 4 patreon supporter"></div>
        <div class="float-left {{ player.registered | registeredAccolade }}" placement="top" ngbTooltip="{{ registered_tooltip[player.registered | registeredAccolade] }}"></div>
        <div *ngIf="player.gold > 0" class="float-left goldBadge" placement="top" ngbTooltip="{{ player.gold }} Gold Medals"></div>
        <div *ngIf="player.silver > 0" class="float-left silverBadge" placement="top" ngbTooltip="{{ player.silver }} Silver Medals"></div>
        <div *ngIf="player.bronze > 0" class="float-left bronzeBadge" placement="top" ngbTooltip="{{ player.bronze }} Bronze Medals"></div>
        <div *ngIf="player.participation > 0" class="float-left participationBadge" placement="top" ngbTooltip="{{ player.participation }} Participation Ribbons"></div>
        <div *ngIf="player.github" class="float-left githubBadge" placement="top" ngbTooltip="for significantly contributing to an issue or pull request on the KAG GitHub"></div>
        <div *ngIf="player.community" class="float-left communityBadge" placement="top" ngbTooltip="for significantly contributing to the KAG community in some way"></div>
        <div *ngIf="player.mapmaker" class="float-left mapmakerBadge" placement="top" ngbTooltip="for contributing to the official map cycle"></div>
        <div *ngIf="player.moderation" class="float-left moderationBadge" placement="top" ngbTooltip="for contributing to moderating the game, forums or discord"></div>
    </div>
  </div>
  </ng-container>

  <div class="row">
    <div class="col">
      <ng-container *ngIf="player.clanID">
        <a routerLink="/clans/{{player.clanID}}">
          <span class="float-left text-primary font-weight-bold mr-2">{{ player.clanInfo.name }}</span>
        </a>
      </ng-container>
      <span class="float-left {{ player.role | kagRoleColor }}"> <ng-container *ngIf="!similarClanTag">{{player.clanTag}}</ng-container> {{player.characterName}}</span>
    </div>
  </div>
</div>
</a>
