.top-margin {
    margin-top: 25px;
}

.icon {
    margin: auto;
}
.archerIcon {
    width: 32px;
    height: 32px;
    background-image: url(/assets/classes.png);
    background-position: 0px 0px;
}

.builderIcon {
    width: 32px;
    height: 32px;
    background-image: url(/assets/classes.png);
    background-position: -32px 0px;
}

.knightIcon {
    width: 32px;
    height: 32px;
    background-image: url(/assets/classes.png);
    background-position: -64px 0px;
}

.suicideIcon {
    width: 32px;
    height: 32px;
    background-image: url(/assets/classes.png);
    background-position: -96px 0px;
}

.dev {
    color: #B400FF;
}

.guard {
    color: #A0FFA0;
}
