.top-margin {
    margin-top: 25px;
}

.buffer {
    margin-bottom: 10px;
}

.icon {
    margin: auto;
}
.archerIcon {
    width: 32px;
    height: 32px;
    background-image: url(/assets/classes.png);
    background-position: 0px 0px;
}

.builderIcon {
    width: 32px;
    height: 32px;
    background-image: url(/assets/classes.png);
    background-position: -32px 0px;
}

.knightIcon {
    width: 32px;
    height: 32px;
    background-image: url(/assets/classes.png);
    background-position: -64px 0px;
}

.flagIcon {
    width: 32px;
    height: 32px;
    background-image: url(/assets/CTF_Flag.png);
    background-position: -32px -32px;
}

.suicideIcon {
    width: 32px;
    height: 32px;
    background-image: url(/assets/classes.png);
    background-position: -96px 0px;
}

.dev {
    color: #B400FF;
}

.guard {
    color: #A0FFA0;
}

.star {
  width: 16px;
  height: 16px;
  background-image: url(/assets/server_icons.png);
  background-position: 0px 0px;
}

.blankstar {
  width: 16px;
  height: 16px;
  background-image: url(/assets/server_icons.png);
  background-position: 0px -16px;
}
