
<ng-container *ngIf="player">
<h2 class="{{ player.role | kagRoleColor }} buffer">
    {{player.clanTag}} {{player.characterName}}
    <ng-container *ngIf="player.characterName != player.username">
        ({{player.username}})
    </ng-container>
</h2>
<div class="container">
<div class="row buffer top-margin">
    <div class="float-left col-2">
        <ng-container *ngIf="player.avatar != ''; else avatarElse">
            <img id="avatar" src="{{player.avatar}}" default="/assets/portrait1.png" class="rounded-circle" style="width: 100px; height: 100px;">
        </ng-container>
        <ng-template #avatarElse>
            <img id="avatar" src="{{ player.id | unkownAvatar }}" class="rounded-circle" style="width: 100px; height: 100px;">
        </ng-template>
    </div>
    <div class="col">
    <div class="row buffer">
        <div class="col">
            <div *ngIf="player.oldGold" style="overflow:auto; display:inline-block" placement="top" ngbTooltip="gold member who bought the game pre-F2P launch">
                <div class="sprite2x float-left oldGoldBadge"></div>
            </div>
            <div *ngIf="player.tier == 1" style="overflow:auto; display:inline-block" placement="top" ngbTooltip="tier 1 patreon supporter">
                <div class="sprite2x float-left tier1Badge"></div>
            </div>
            <div *ngIf="player.tier == 2" style="overflow:auto; display:inline-block" placement="top" ngbTooltip="tier 2 patreon supporter">
                <div class="sprite2x float-left tier2Badge"></div>
            </div>
            <div *ngIf="player.tier == 3" style="overflow:auto; display:inline-block" placement="top" ngbTooltip="tier 3 patreon supporter">
                <div class="sprite2x float-left tier3Badge"></div>
            </div>
            <div *ngIf="player.tier == 4" style="overflow:auto; display:inline-block" placement="top" ngbTooltip="tier 4 patreon supporter">
                <div class="sprite2x float-left tier4Badge"></div>
            </div>
            <div style="overflow:auto; display:inline-block" placement="top" ngbTooltip="{{ registered_tooltip[player.registered | registeredAccolade] }}">
                <div class="sprite2x float-left {{ player.registered | registeredAccolade }}"></div>
            </div>

            <!-- accolade_data.cfg accolades -->
            <div *ngIf="player.gold > 0" style="overflow:auto; display:inline-block" placement="top" ngbTooltip="{{ player.gold }} Gold Medals">
                <div class="sprite2x float-left goldBadge"></div>
            </div>
            <div *ngIf="player.silver > 0" style="overflow:auto; display:inline-block" placement="top" ngbTooltip="{{ player.silver }} Silver Medals">
                <div class="sprite2x float-left silverBadge"></div>
            </div>
            <div *ngIf="player.bronze > 0"style="overflow:auto; display:inline-block" placement="top" ngbTooltip="{{ player.bronze }} Bronze Medals">
                <div class="sprite2x float-left bronzeBadge"></div>
            </div>
            <div *ngIf="player.participation > 0" style="overflow:auto; display:inline-block" placement="top" ngbTooltip="{{ player.participation }} Participation Ribbons">
                <div class="sprite2x float-left participationBadge"></div>
            </div>
            <div *ngIf="player.github" style="overflow:auto; display:inline-block" placement="top" ngbTooltip="for significantly contributing to an issue or pull request on the KAG GitHub">
                <div class="sprite2x float-left githubBadge"></div>
            </div>
            <div *ngIf="player.community" style="overflow:auto; display:inline-block" placement="top" ngbTooltip="for significantly contributing to the KAG community in some way">
                <div class="sprite2x float-left communityBadge"></div>
            </div>
            <div *ngIf="player.mapmaker" style="overflow:auto; display:inline-block" placement="top" ngbTooltip="for contributing to the official map cycle">
                <div class="sprite2x float-left mapmakerBadge"></div>
            </div>
            <div *ngIf="player.moderation" style="overflow:auto; display:inline-block" placement="top" ngbTooltip="for contributing to moderating the game, forums or discord">
                <div class="sprite2x float-left moderationBadge"></div>
            </div>
        </div>
    </div>

    <div *ngIf="status && status.apiServer" class="row">
        <div class="col">
            <span class="float-left">Last seen on: <b>{{ status.apiServer.serverName }}</b> {{ status.lastUpdateDate | timeAgo }}</span>
        </div>
    </div>
    </div>
</div>
</div>

<div class="top-margin">
<ngb-tabset [justify]="center" #t="ngbTabset">
    <ngb-tab id="overview">
    <ng-template ngbTabTitle><h3>Overview</h3></ng-template>
    <ng-template ngbTabContent>
    <div class="top-margin">
        <div class="row buffer">
            <div class="col"></div>
            <div class="shadow-sm col text-center">
                <h3>Total</h3>
                <h4>{{totalKD()}}</h4>
                <div class="row">
                    <div class="col">
                        <div>Kills</div>
                        <h5>{{basicStats.totalKills}}</h5>
                    </div>
                    <div class="col">
                        <div>Deaths</div>
                        <h5>{{basicStats.totalDeaths}}</h5>
                    </div>
                </div>
            </div>
            <div class="shadow-sm col text-center">
                <h3>Suicides</h3>
                <div class="sprite2x icon suicideIcon"></div>
                <h4>{{basicStats.suicides}}</h4>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="shadow-sm col text-center">
                <h3>Archer</h3>
                <div class="sprite2x icon archerIcon"></div>
                <h4>{{archerKD()}}</h4>
                <div class="row">
                    <div class="col">
                        <div>Kills</div>
                        <h5>{{basicStats.archerKills}}</h5>
                    </div>
                    <div class="col">
                        <div>Deaths</div>
                        <h5>{{basicStats.archerDeaths}}</h5>
                    </div>
                </div>
            </div>
            <div class="shadow-sm col text-center">
                <h3>Builder</h3>
                <div class="sprite2x icon builderIcon"></div>
                <h4>{{builderKD()}}</h4>
                <div class="row">
                    <div class="col">
                        <div>Kills</div>
                        <h5>{{basicStats.builderKills}}</h5>
                    </div>
                    <div class="col">
                        <div>Deaths</div>
                        <h5>{{basicStats.builderDeaths}}</h5>
                    </div>
                </div>
            </div>
            <div class="shadow-sm col text-center">
                <h3>Knight</h3>
                <div class="sprite2x icon knightIcon"></div>
                <h4>{{knightKD()}}</h4>
                <div class="row">
                    <div class="col">
                        <div>Kills</div>
                        <h5>{{basicStats.knightKills}}</h5>
                    </div>
                    <div class="col">
                        <div>Deaths</div>
                        <h5>{{basicStats.knightDeaths}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </ng-template>
    </ngb-tab>
    <ngb-tab>
    <ng-template ngbTabTitle><h3>Fact Sheet</h3></ng-template>
    <ng-template ngbTabContent>
        <div class="margin-top">
        <div class="row buffer">
            <div class="shadow-sm col text-center">
                <h3>Nemesis</h3>
                <ng-container *ngIf="nemesis && nemesis.nemesis; else noNemesis">
                <div class="row margin-top text-center">
                    <div class="col offset-4">
                        <app-player-banner [player]="nemesis.nemesis" [status]="false"></app-player-banner>
                    </div>
                </div>
                <div class="margin-top text-center">Has killed {{player.clanTag}} {{player.characterName}} <b>{{nemesis.deaths}}</b> times!</div>
                </ng-container>
                <ng-template #noNemesis>
                    <div class="text-center">{{player.clanTag}} {{player.characterName}} doesn't have a nemesis</div>
                </ng-template>
            </div>
            <div class="shadow-sm col text-center">
                <h3>Top Weapons</h3>
                <ng-container *ngIf="hitters">
                <div *ngFor="let hitter of hitters">
                    <h5>{{hitter.kills}} kills with {{descriptions[hitter.hitter]}}</h5>
                    <div class="sprite2x {{ hitter.hitter | hitterIcon }}" style="margin: auto"></div>
                </div>
                </ng-container>
            </div>
        </div>
        <div class="row">
            <div class="shadow-sm col text-center">
                <h3>Bullied</h3>
                <ng-container *ngIf="bullied; else noBully">
                <div class="buffer">{{player.clanTag}} {{player.characterName}} has bullied <b>{{bullied.length}}</b> player(s)</div>
                <small style="color:grey">showing {{bullied.slice(0,5).length}} of those players</small>
                <table class="table">
                    <thead>
                        <th>Player</th>
                        <th>Deaths</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let b of bullied.slice(0,5)">
                        <td>
                            <app-player-banner [player]="b.nemesis" [status]="false"></app-player-banner>
                        </td>
                        <td>
                            {{b.deaths}}
                        </td>
                    </tr>
                </tbody>
                </table>
                </ng-container>
                <ng-template #noBully>
                    <div class="text-center">{{player.clanTag}} {{player.characterName}} hasn't bullied anyone hard enough</div>
                </ng-template>
            </div>
            <div class="shadow-sm col text-center">
                <h3>Flags Captured</h3>
                <div class="sprite2x icon flagIcon"></div>
                <h4>{{captures}}</h4>
            </div>
        </div>
        </div>
    </ng-template>
    </ngb-tab>
    <ngb-tab>
    <ng-template ngbTabTitle><h3>Kill History</h3></ng-template>
    <ng-template ngbTabContent>
        <div class="top-margin">
            <app-killfeed [url]="'/players/' + player.id + '/kills'" [limit]="20"></app-killfeed>
        </div>
    </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><h3>Historical Stats</h3></ng-template>
      <ng-template ngbTabContent>
          <app-stats-history></app-stats-history>
      </ng-template>
    </ngb-tab>
</ngb-tabset>
</div>
</ng-container>
