<h2>About</h2>
<div class="card buffer">
  <div class="card-body">
    <div class="card-title">
      <h3>King Arthur's Gold</h3>
    </div>
    <div>
      King Arthur's Gold (KAG) is Free to Play 2d, action, platforming, medieval themed multiplayer game.
      You can learn more about the game on the <a href="https://kag2d.com/en/">kag2d.com</a> website.
    </div>
  </div>
</div>
<div class="card buffer">
  <div class="card-body">
    <div class="card-title">
        <h4>KAG Stats</h4>
    </div>
    <div>
      KAG Stats is a website providing real time updates of basic stats from KAG Servers.
      KAG Stats connects to servers using the rcon login functionality and watches for messages from a script
      that outputs information about kills and important events.
      On the website you can find many leaderboards, breakdowns of a player's stats, a live kill feed and much more.
    </div><br>
    <div>
      Anybody can host their own KAG stats websites for their own servers! The main website for official KAG servers is at
      kagstats.com.
    </div>
  </div>
</div>
<div class="card buffer">
  <div class="card-body">
    <div class="card-title">
      <h4>Development</h4>
    </div>
    <div>
      KAG Stats is an opensoure piece of software that anybody is free to use and modify for their own purpose.
      The repository is hosted on <a href="github.com/Harrison-Miller/kagstats">github</a>. Anybody may fork the repository and
      submit PRs to improve the quality of the software. If you want to contribute but don't know where to start, see the
      <a href="https://trello.com/b/WR8dcqD7/kag-stats">trello board</a> listing tasks.
    </div>
  </div>
</div>