<html>
<head>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .top-buffer {
            margin-top: 32px;
            margin-left: 32px;
            margin-right: 32px;
        }
        .bottom-buffer {
            margin-bottom: 32px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ .Prefix }}/">KAG Stats Admin</a>
</nav>

<h1 id="fullname"></h1>
<img id="avatar" width="128px" height="128px">

<h2>Info</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Variable</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Username</td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" id="username">
                </div>
            </td>
        </tr>
        <tr>
            <td>Charactername</td>
            <td id="charactername"></td>
        </tr>
        <tr>
            <td>Clantag</td>
            <td id="clantag"></td>
        </tr>
        <tr>
            <td>Registered</td>
            <td id="registered"></td>
        </tr>
        <tr>
            <td>Leaderboard Ban</td>
            <td>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="leaderboardban">
                </div>
            </td>
        </tr>
        <tr>
            <td>Monthly Leaderboard Ban</td>
            <td>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="monthlyleaderboardban">
                </div>
            </td>
        </tr>
        <tr>
            <td>Stats Ban</td>
            <td>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="statsban">
                </div>
            </td>
        </tr>
        <tr>
            <td>Notes</td>
            <td >
                <div class="form-group">
                    <textarea class="form-control" id="notes" rows="3"></textarea>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#saveModal">Save</button>
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Save Changes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to save these changes?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="save();">Save</button>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-lg btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Player</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this players stats? The next time they join they'll be readded to the database.
                You will also need to recalculate all stats.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="deleteplayer();">Delete</button>
            </div>
        </div>
    </div>
</div>

<h2>Stats</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Kills</td>
            <td>Deaths</td>
            <td>Archer Kills</td>
            <td>Archer Deaths</td>
            <td>Builder Kills</td>
            <td>Builder Deaths</td>
            <td>Knight Kills</td>
            <td>Knight Deaths</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="kills"></td>
            <td id="deaths"></td>
            <td id="archerkills"></td>
            <td id="archerdeaths"></td>
            <td id="builderkills"></td>
            <td id="builderdeaths"></td>
            <td id="knightkills"></td>
            <td id="knightdeaths"></td>
        </tr>
    </tbody>
</table>

<h2>Kill History</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Killer</td>
            <td>Victim</td>
            <td>Time</td>
            <td>Server</td>
        </tr>
    </thead>
    <tbody id="killList">

    </tbody>
</table>

<button onclick="prevHistory();" class="btn btn-lg btn-primary" style="float:left;">&lt;</button>
<button onclick="nextHistory();" class="btn btn-lg btn-primary" style="float:left;">&gt;</button>
<h4 id="historyinfo"></h4>

</body>
<script type="text/javascript">
    apiEndpoint = "{{ .APIHost }}"
    playerId = {{ .PlayerId }}

    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })

    $.getJSON(apiEndpoint + "players/" + playerId, function(data) {
        if(!data) {
            return
        }

        $("#fullname").text(data.clantag + " " + data.charactername + " (" + data.username + ")");

        $("#avatar").attr("src", data.avatar);

        $("#username").val(data.username);
        $("#clantag").text(data.clantag);
        $("#charactername").text(data.charactername);
        $("#registered").text(data.registered);
    
        $("#leaderboardban").prop("checked", data.leaderboardBan);
        $("#monthlyleaderboardban").prop("checked", data.monthlyLeaderboardBan);
        $("#statsban").prop("checked", data.statsBan);
    });

    $.getJSON("{{ .Prefix }}/notes/{{ .PlayerId }}", function(data) {
        $("#notes").val(data.notes);
    });

    $.getJSON(apiEndpoint + "players/" + playerId + "/basic", function(data) {
        if(!data) {
            return
        }

        // Stats
        $("#kills").text(data.totalKills);
        $("#deaths").text(data.totalDeaths);
        $("#archerkills").text(data.archerKills);
        $("#archerdeaths").text(data.archerDeaths);
        $("#builderkills").text(data.builderKills);
        $("#builderdeaths").text(data.builderDeaths);
        $("#knightkills").text(data.knightKills);
        $("#knightdeaths").text(data.knightDeaths);
    });

    killsStart=0;
    currentHistory=null;

    function getKillHistory() {
        $.getJSON(apiEndpoint + "players/" + playerId + "/kills?showbanned=true&start=" + killsStart, function(data){
            if(!data) {
                return;
            }

            currentHistory=data;

            killList = $("#killList");
            killList.empty();

            for(var i = 0; i < data.values.length; i++) {
                kill = data.values[i];

                date = new Date(kill.time);
                dateformatted = `${date.getMonth()}/${date.getDay()}/${date.getYear()} ${date.getHours()}:${date.getMinutes()}`

                elem = `<tr>
                    <td onclick="gotoPlayer('${kill.killer.id}');">
                    <img src="${kill.killer.avatar}" width="64px;" height="64px;">
                    ${kill.killer.username}
                    </td>
                    <td onclick="gotoPlayer('${kill.victim.id}');">
                    <img src="${kill.victim.avatar}" width="64px;" height="64px;">
                    ${kill.victim.username}
                    </td>
                    <td>${dateformatted}</td>
                    <td>${kill.server.name}</td>`
                killList.append(elem);
            }

            $("#historyinfo").text(`Showing ${data.values.length} results ... ${data.start} - ${data.start + data.size}`);
        });
    }

    getKillHistory();

    function prevHistory() {
        if(killsStart!=0) {
            killsStart -= currentHistory.limit;
            if(killsStart==0){
                killsStart=0;
            }

            getKillHistory();
        }
    }

    function nextHistory() {
        if(currentHistory.next!=-1) {
            killsStart = currentHistory.next;
            getKillHistory();
        }

    }

    function save() {
        params = {
            id: playerId,
            username: $("#username").val(),
            leaderboardBan: $("#leaderboardban").is(":checked"),
            monthlyLeaderboardBan: $("#monthlyleaderboardban").is(":checked"),
            statsBan: $("#statsban").is(":checked"),
            notes: $("#notes").val()
        };

        $.ajax({
            type: "POST",
            url: "{{ .Prefix }}/save",
            data: JSON.stringify(params),
            contentType: "application/json"
        })
        .fail(function(data, status) {
            alert("save failed");
        })
        .done(function() {
            alert("changes saved");
        });
    }

    function deleteplayer() {
        params = {
            id: playerId,
        };

        $.ajax({
            type: "POST",
            url: "{{ .Prefix }}/delete",
            data: JSON.stringify(params),
            contentType: "application/json"
        })
        .fail(function(data, status) {
            alert("delete failed");
        })
        .done(function() {
            alert("deleted");
        });
    }


    function gotoPlayer(id) {
        window.location.href = "{{ .Prefix }}/player/" + id;
    }

</script>
</html>