<ng-container *ngIf="clan">
  <h2>{{ clan.name }}</h2>
  <div>Created: {{ clan.createdAt | date:'short'}}</div>
  <div>Leader: <app-player-banner [status]="false" [player]="clan.leader"></app-player-banner></div>
  <ng-container *ngIf="members">
    <hr>
    <h3>Members</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Player</th>
          <th>Joined</th>
          <th><div class="icon archerIcon"></div></th>
          <th><div class="icon builderIcon"></div></th>
          <th><div class="icon knightIcon"></div></th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let stats of members">
          <tr>
            <td><app-player-banner [status]="false" [player]="stats.player"></app-player-banner></td>
            <td>{{ stats.player.joinedClan | date:'short' }}</td>
            <td>{{getKD(stats.archerKills, stats.archerDeaths)}}</td>
            <td>{{getKD(stats.builderKills, stats.builderDeaths)}}</td>
            <td>{{getKD(stats.knightKills, stats.knightDeaths)}}</td>
            <td>{{getKD(stats.totalKills, stats.totalDeaths)}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </ng-container>
</ng-container>

