<br>
<div style="text-align: center">
  <div class="btn-group">
    <!--
    <button class="btn btn-primary" routerLink="/leaderboards">K/D</button>
    <button class="btn btn-primary" routerLink="Kills">Kills</button>
    -->
    <button class="btn btn-primary" routerLink="MonthlyArcher">Monthly Archer</button>
    <button class="btn btn-primary" routerLink="MonthlyBuilder">Monthly Builder</button>
    <button class="btn btn-primary" routerLink="MonthlyKnight">Monthly Knight</button>
    <button class="btn btn-primary" routerLink="Archer">All Time Archer</button>
    <button class="btn btn-primary" routerLink="Builder">All Time Builder</button>
    <button class="btn btn-primary" routerLink="Knight">All Time Knight</button>
  </div>
</div>

<router-outlet></router-outlet>
