<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="" (click)="isNavbarCollapsed=true">Kagstats</a>
  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/leaderboards">Leaderboards</a>
      </li> -->
      <li>
        <a class="nav-link" routerLink="/players" (click)="isNavbarCollapsed=true">Players</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/servers" (click)="isNavbarCollapsed=true">Servers</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/kills" (click)="isNavbarCollapsed=true">Kill Feed</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/about" (click)="isNavbarCollapsed=true">About</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
