<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="" (click)="isNavbarCollapsed=true">KAG Stats</a>
  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link" routerLink="/leaderboards/MonthlyArcher" (click)="isNavbarCollapsed=true">Leaderboards</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/players" (click)="isNavbarCollapsed=true">Players</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/servers" (click)="isNavbarCollapsed=true">Servers</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/clans" (click)="isNavbarCollapsed=true">Clans</a>
      </li>
      <li>
          <a class="nav-link" routerLink="/maps" (click)="isNavbarCollapsed=true">Maps</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/kills" (click)="isNavbarCollapsed=true">Kill Feed</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/about" (click)="isNavbarCollapsed=true">About</a>
      </li>
      <li *ngIf="poll">
        <a class="nav-link" routerLink="/poll" (click)="isNavbarCollapsed=true">Poll <span *ngIf="playerClaims && poll.completed" class="fa fa-check-circle text-success"></span> </a>
      </li>
    </ul>
    <ng-container *ngIf="playerClaims; else notLoggedin">
      <ul class="navbar-nav">
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="mr-3">Welcome, {{playerClaims.username}}</span>
            <ng-container *ngIf="playerClaims.avatar != ''; else avatarElse">
              <img id="avatar" src="{{playerClaims.avatar}}" default="/assets/portrait1.png" class="rounded-circle" style="width: 50px; height: 50px;">
            </ng-container>
            <ng-template #avatarElse>
              <img id="avatar" src="{{playerClaims.playerID | unkownAvatar }}" class="rounded-circle" style="width: 50px; height: 50px;">
            </ng-template>
          </a>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdown">
            <a class="dropdown-item" ngbDropdownItem routerLink="/players/{{ playerClaims.playerID}}">Profile</a>
            <a class="dropdown-item" ngbDropdownItem routerLink="/clan-management">Clan</a>
            <a class="dropdown-item" ngbDropdownItem routerLink="/following">Following</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="" ngbDropdownItem (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </ng-container>
    <ng-template #notLoggedin>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="" (click)="open(login)">Login</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>


<ng-template #login let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">kag2d.com Login</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-info" role="alert">
      If you play on steam you may need to finish linking your kag2d.com account. Start KAG, then in the main menu there will be a form to enter a new password and email.
      <img src="/assets/finishlinking.jpg" width="300" height="300">
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">KAG Username</label>
        <input type="email" class="form-control" id="username" placeholder="Enter kag2d.com username" formControlName="username">
      </div>
      <button type="button" class="btn btn-primary" (click)="generateToken()">Generate Token</button>
      <hr>
      <div class="form-group">
        <label for="token">Token</label>
        <input type="token" class="form-control" id="token" placeholder="Long value of characters and numbers between quotes" formControlName="token">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <div class="alert alert-danger" role="alert" [hidden]="hideError">
      Username or token is incorrect.
    </div>

  </div>
</ng-template>

<div class="container">
  <router-outlet></router-outlet>
</div>
