<div style="text-align:center">
  <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [title]="chartOptions.title"
  ></apx-chart>
</div>

<div style="text-align:center">
  <apx-chart
          [series]="kdrChartOptions.series"
          [chart]="kdrChartOptions.chart"
          [markers]="kdrChartOptions.markers"
          [xaxis]="kdrChartOptions.xaxis"
          [title]="kdrChartOptions.title"
  ></apx-chart>
</div>
