<div style="text-align:center">
  <apx-chart #chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [title]="chartOptions.title"
          [stroke]="chartOptions.stroke"
          [fill]="chartOptions.fill"
          [dataLabels]="chartOptions.dataLabels"
  ></apx-chart>
</div>


<div style="text-align:center">
  <apx-chart #kdrChart
          [series]="kdrChartOptions.series"
          [chart]="kdrChartOptions.chart"
          [markers]="kdrChartOptions.markers"
          [xaxis]="kdrChartOptions.xaxis"
          [title]="kdrChartOptions.title"
          [yaxis]="kdrChartOptions.yaxis"
  ></apx-chart>
</div>
