<h2>Servers</h2>
<div class="row h-100">
  <div class="col-4 buffer" style="min-height: 33vh" *ngFor="let server of servers">
    <div class="card h-100">
      <div class="card-header">
        {{server.name}} 
        <ng-container *ngIf="server.status; else statusElse">
            <span class="dot float-right {{ server.statuslastUpdate | statusClass }}"></span>
        </ng-container>
        <ng-template #statusElse>
            <span class="dot float-right bg-secondary"></span>
        </ng-template>
      </div>
      <div class="card-body">
        <div class="card-text">{{server.description}}</div>
        <div>Players:
          <ng-container *ngIf="server.status; else playersBlock">{{server.status.currentPlayers}}/{{server.status.maxPlayers}}</ng-container>
          <ng-template #playersBlock>0/0</ng-template>
        </div>
        <div>
          <img src="https://api.kag2d.com/server/ip/{{server.address}}/port/{{server.port}}/minimap" onError="this.src='/assets/unkownmap.png'">
        </div>
      </div>
      <div class="card-footer">
        Last Update:
        <ng-container *ngIf="server.status; else statusBlock">{{server.status.lastUpdate | date:'short'}}</ng-container>
        <ng-template #statusBlock>N/A</ng-template>
      </div>
    </div>
  </div>
</div>