.buffer {
    margin-bottom: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}
    
.card-overflow {
    overflow: hidden;
}

.minimap {
    max-width: 100%;
    max-height: 100%;
}